<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменение книги</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
    <label for="name">Введите название книги: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red">Name error</div>
    <br/>
    <label for="author">Введите автора: </label>
    <input type="text" th:field="*{author}" id="author"/>
    <div th:if="${#fields.hasErrors('author')}" th:errors="*{author}" style="color:red">Name error</div>
    <br/>
    <label for="yearOfProduction">Введите год: </label>
    <input type="text" th:field="*{yearOfProduction}" id="yearOfProduction"/>
    <div th:if="${#fields.hasErrors('yearOfProduction')}" th:errors="*{yearOfProduction}" style="color:red">Year error</div>
    <br/>
    <input type="submit" value="Обновить"/>
</form>

</body>
</html>